<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Accordion</title>
  </head>
  <body>
    <div id="acordion">
      <!-- item1 -->
      <div class="border p-3">
        <input type="checkbox" id="item1" class="peer hidden" />
        <label
          for="item1"
          class="flex justify-between hover:cursor-pointer peer-checked:text-blue-600"
        >
          <h1>item1</h1>
          <i class="rotate-90 text-xl">&#62;</i>
        </label>
        <div class="border-t mt-3 hidden peer-checked:block transition-all">
          <p class="mt-3">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat
            nam nesciunt enim unde placeat asperiores ullam eveniet quod nisi.
            Mollitia maxime incidunt totam excepturi perferendis eius facilis
            quisquam, amet quae?
          </p>
        </div>
      </div>
      <!-- item2 -->
      <div class="border p-3">
        <input type="checkbox" id="item2" class="peer hidden" />
        <label
          for="item2"
          class="flex justify-between hover:cursor-pointer peer-checked:text-blue-600"
        >
          <p>item2</p>
          <i class="rotate-90 text-xl">&#62;</i>
        </label>
        <div class="border-t mt-3 hidden peer-checked:block transition-all">
          <p class="mt-3">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat
            nam nesciunt enim unde placeat asperiores ullam eveniet quod nisi.
            Mollitia maxime incidunt totam excepturi perferendis eius facilis
            quisquam, amet quae?
          </p>
        </div>
      </div>
      <!-- item3 -->
      <div class="border p-3">
        <input type="checkbox" id="item3" class="peer hidden" />
        <label
          for="item3"
          class="flex justify-between hover:cursor-pointer peer-checked:text-blue-600"
        >
          <p>item3</p>
          <i class="rotate-90 text-xl">&#62;</i>
        </label>
        <div class="border-t mt-3 hidden peer-checked:block transition-all">
          <p class="mt-3">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat
            nam nesciunt enim unde placeat asperiores ullam eveniet quod nisi.
            Mollitia maxime incidunt totam excepturi perferendis eius facilis
            quisquam, amet quae?
          </p>
        </div>
      </div>
    </div>

    <script src="./script.js"></script>
  </body>
</html>
